<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>盒子模型</title>
    <link rel="stylesheet" type="text/css" href="mycss.css">
</head>
<body>
    <div id="header">
        <div id="header_nav">
            <ul id="header_ul">
                <li><a href="#">领导驾驶舱</a></li>
                <li><a href="#">教学概况</a></li>
                <li><a href="#">学生概况</a></li>
            </ul>
        </div>
    </div>
    <div id="content_body">
        <div id="left_nav">

        </div>
    </div>
</body>
</html>