* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 13pt;
}

#nav {
    height: 40px;
    border-top: #060 2px solid;
    border-bottom: #060 2px solid;
    background-color: #690;
}

#nav ul {
    list-style: none;
    margin-left: 50px;
}

#nav li {
    display: inline;
    line-height: 40px;
    float:left
}

#nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px 20px;
}

#nav a:hover {
    background-color: #060;
}